{% load adminlte_helpers i18n %}
{% load static %}<!DOCTYPE html>
<html>
<head>

<!--
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
-->
<!-- <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
-->   
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/dark-hive/jquery-ui.css">
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>

function deleteEvent(query,auths,shard,uid,datatype){
$.ajax({
    type: "DELETE",
    url: "/mutate?query=" + query + "&auths" + auths + "&shard=" + shard + "&uid=" + uid + "&datatype=" + datatype,
    data: "",
    success: function(msg){
        alert("Data Deleted: " + msg);
    }
});
}

function openpage(title, page){

var $dialog = $('<div></div>')
               .html('<iframe style="border: 0px; " src="' + page + '" width="100%" height="100%"></iframe>')
               .dialog({
                   autoOpen: false,
                   modal: true,
                   height: 625,
                   width: 500,
                   resizable: false,
                    title: title,
                  dialogClass: 'dialog_fixed,ui-widget-header',
                });
$dialog.dialog('open');
//$(".ui-dialog-titlebar").hide();
$(document).keydown(function(event) { 
  if (event.keyCode == 27) { 
    $dialog.hide();
  }
});
}

function setReload(){
setTimeout(function(){
   window.location.reload(1);
}, 5000);
}

function fieldMetadataSearch() {
  // Declare variables
  var input, filter, table, tr, td, i ;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("fieldMetadata");
  tr = table.getElementsByTagName("tr"),
  th = table.getElementsByTagName("th");

// Loop through all table rows, and hide those who don't match the        search query
    for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            for(var j=0; j<th.length; j++){
        td = tr[i].getElementsByTagName("td")[j];      
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter.toUpperCase()) > -1)                               {
                tr[i].style.display = "";
                break;
            }
        }
     }
  }
}

</script>
<script type="text/javascript">
function loadCharts() {
            $.get('{% url "eventcountdata" %}', function(data) {
                var ctx = $("#myLineChart").get(0).getContext("2d");
                var chart = new Chart(ctx, {
              type: 'line',
              data: data,
              options: {
                  legend: {
            display: false
         },
                  responsive: false
              }
          })
        });

                     $.get('{% url "chartdata" %}', function(data) {
                var ctx = $("#myLineChart2").get(0).getContext("2d");
                var chart = new Chart(ctx, {
              type: 'doughnut',
              data: data,
              options: {
              legend: {
            display: false
         },   
               responsive: false
              }
          })

            });
 }      
</script>
{% block title_outer %}
        <title>{% block title %}{{ site.name }}{% endblock %}</title>
    {% endblock %}

    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}

    {% block stylesheets %}
        {% include 'styles.html' %}
    {% endblock %}

    {% block extra_head %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini {% block body_class %}{% block bodyclass %}{% endblock %}{% endblock %}">

{% block body %}
    <div class="wrapper">
        {% block nav_header %}
            {% include 'header.html' %}
        {% endblock %}

        {% block nav_sidebar %}
            {% include 'sidebar.html' %}
        {% endblock %}

        {% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}
                <section class="content-header">
                    {% block no_heading %}
                        <h1>
                            {% block page_name %}{% endblock %}
                            <div class="header-actions">
                                {% block page_actions %}{% endblock %}
                            </div>
                            {% block no_description %}
                            <small>{% block page_description %}{% endblock %}</small>
                            {% endblock %}
                        </h1>
                        {% block breadcrumbs %}
                            {# Breadcrumb implementation left to developers #}
                        {% endblock %}
                    {% endblock no_heading %}
                </section>
            {% endblock %}

            {% block content_outer %}
            <section class="content">
                {% block messages %}
                    {% include 'adminlte/lib/_messages.html' %}
                {% endblock %}

                {% block content_block_wrap %}
                    {% block content %}{% endblock %}
                {% endblock %}
            </section>
            {% endblock %}

        </div>
        {% endblock content_wrapper %}
        
        {% block nav_footer %}
            {% include 'adminlte/lib/_main_footer.html' %}
        {% endblock %}

    </div>
{% endblock body %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
{% endblock %}

{% block extra_js %}{% endblock %}

{% block extra_foot %}{% endblock %}
</body>
</html>
