
{% extends 'base.html' %}

{% block title %}Datawave Metadata{% endblock %}

{% block content %}

<div align="center">
<h1>Ingest Metadata</h1>
</div>
<i class="fas fa-search"></i>&nbsp;<input type="text" id="myInput" onkeyup="fieldMetadataSearch()" placeholder="Search field metadata...">
<div class="table-responsive-sm">
              <table data-toggle="table" id="fieldMetadata" data-sort-name="date" data-sort-order="desc"  class=" table-hover table table-bordered table-dark">
                <thead>
                <tr>
                  <th data-sortable="true" data-field="date">Date</th>
                  <th data-sortable="true" data-field="fieldname">Field Name</th>
                  <th data-sortable="true" data-field="count">Count</th>
                </tr>
                </thead>
                <tbody>
{% for key, value in metadata.items %}
      {% for key2,value2 in value.items %}
        <tr>
                  <td><a href="/metadata?q={{key2}}&date={{key}}">{{key}}</a></td>
                  <td><a href="/metadata?q={{key2}}">{{key2}}</a></td>
                  <td>{{value2}}</td>
                </tr>
      {% endfor %}
{% endfor %}
                </tbody>
                </table>
</div>

{% endblock %}
