{% extends 'modal.html' %}
{% load extras %}


{% block title %}Jangowave Search{% endblock %}

{% block content %}

<div align="center">
<h1>Edit Event</h1>
</div>
<form target='_parent' method="POST" action="/mutate/">
{% csrf_token %}
 <input type="hidden" id="query" name="query" value="{{query}}">
 <input type="hidden" id="shard" name="shard" value="{{shard}}">
 <input type="hidden" id="uid" name="uid" value="{{uid}}">
 <input type="hidden" id="datatype" name="datatype" value="{{datatype}}">

{% for result in results|remove_fields %}
<table  style="width:100%" >
{% for key,value in result.items %}
<tr>
<td>
{{key}}
</td>
<td>
<!-- simply an optimizaiton -->
<input type="hidden" name="original.{{key}}" value="{{value}}"/>
<input name="{{key}}" type="text" value="{{value}}"/>
</td>
</tr>
{% endfor %}
</table>
{% endfor %}
<button type="submit" class="btn btn-primary">Edit</button>
<button type="button" class="btn btn-danger">Delete</button>
</form>

{% endblock %}
